<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Tic Tac Toe</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
<!--     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"> -->
<link rel="stylesheet" href="../static/css/shards.min.css"
	th:href="@{css/shards.min.css}">
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{css/style.css}">
</head>
<body>

	<div class="center">

		<!--WELCOME MESSAGE -->
		<h1>
			<span th:text="${welcome_msg}"></span>
		</h1>

		<!--If no player wins, this display a message indicating which user has to play -->
		<div th:if="!${win}">
			<p class="current_player" th:text="${currentPlayer}"></p>
		</div>

		<!--If a player wins, display bravo message -->
		<p class="current_player win_msg" th:if="${win}">
			<span th:text="${winner_msg}"></span>
		</p>

		<!--If the game is draw, display no player wins -->
		<p class="current_player draw_msg" th:if="${game_draw}">
			<span th:text="${draw_msg}"></span>
		</p>


		<div class="container">
			<div class="row">
				<div class="col-lg-10 mt-5 mb-5">
					<table id="example"
						class="table table-bordered table-responsive center_table">
						<tbody>
							<!--If a player wins, display bravo message -->
							<tr th:each="entry, stats : ${grids}"
								th:with="row=${entry.value}">
								<td th:each="grid : ${row}">

									<div class="content">

										<span th:if="!${win}"> <a class="content play_value"
											style="height: 100%" th:text="${grid.value}"
											th:href="@{/playing(row=${grid.rowNum},col=${grid.colNum})}"></a>
										</span> <span th:if="${win}"> <a class="content play_value"
											style="height: 100%" th:text="${grid.value}"></a>
										</span>
									</div>

								</td>
							</tr>
						</tbody>
					</table>

					<br>
					<br>
					<!--A button used to reset the game. -->
					<a class="btn btn-sm reset_btn" th:href="${'/'}">Reset</a>
				</div>
			</div>
		</div>

	</div>



</body>
</html>